# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/coverage/
!.*
.eslintcache
.lint-todo/

# ember-try
/.node_modules.ember-try/
/pnpm-lock.ember-try.yaml
